h1 {
  color: #38bdce;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2, h3 {
  color: #ce3a38;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  color: #da6458;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

i {
  color: #da6458;
  text-decoration: none;
  font-size: 35px;
  display: inline-flex;
}

.profile-picture {
  width: 300px;
  border-radius: 5%;
  box-shadow: 0px 0px 15px #c971cc;
}

.list-inline {
  padding: 0px;
}

.list-inline li {
  display: inline-block;
  margin: 0 10px;
}

.game {
  color: #38bdce;
  font-size: 10px;
}

.btn-red {
  background-color: #da6458;
  color: #e8ceb3;
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 4px;
  transition: all 1s;
}

.blue-font {
  color: #38bdce;
}

.btn-blue {
  background-color: #5f90d1;
  color: #e8ceb3;
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 4px;
  transition: all 1s;
}

.btn-blue:hover {
  background-color: #0f5392;
}

.btn-red:hover {
  background-color: #920f15;
}

.link-media:hover > i {
  color: #920f15;
}

.link-media > i {
  transition: all 1s;
}

.left-element {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: rgb(201, 113, 204) 0px 0px 10px;
}

.middle-element {
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 50px;
    padding-bottom: 15px;
    box-shadow: rgb(113, 201, 204) 0px 0px 10px;
}

.middle-element-right {
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgb(201, 113, 204) 0px 0px 10px;
}

.right-element {
  display: block;
  text-align: center;
  width: 60%;
  margin-left: 50px;
  box-shadow: rgb(113, 201, 204) 0px 0px 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
    display: block;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}
