h1 {
  color: #920f15;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2, h3 {
  color: #ce3a38;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

p {
  color: #da6458;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

i {
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: 23px;
}

.card-white {
  background-color: #e8ceb3;
  box-shadow: 0px 0px 30px #7a635b;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.profile-picture {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #7a635b;
}

.list-inline {
  padding: 0px;
}

.list-inline li {
  display: inline;
}
